.App {
  text-align: center;
}

a{
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1{
  font-size: 40px;
  box-shadow: 0  1px 0 rgba(160, 160, 160, 0.5);
}
.form{
  margin-top: 30px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page::before {
  content: "";
  position: fixed;
  width: 300%;
  height: 100%;
  top: 45%;
  left: 50%;
  background-color: #2196f3;
  background-color: #0075ff;
  border-radius: 50%;
  transform: translateX(-50%) skew(0, -10deg);
  animation: wave 2s ease-in-out infinite alternate;
  -webkit-animation: wave 2s ease-in-out infinite alternate;
  z-index: -1;
}
@keyframes wave {
  from {
      transform: translateX(-50%) skew(0, -10deg);
  }
  to {
      transform: translateX(-30%) skew(10deg, 0);
      -webkit-transform: translateX(-30%) skew(10deg, 0);
      -moz-transform: translateX(-30%) skew(10deg, 0);
      -ms-transform: translateX(-30%) skew(10deg, 0);
      -o-transform: translateX(-30%) skew(10deg, 0);
}
}
